/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* adding all variables here */
@font-face {
  font-family: 'SansationRegular';
  src: url('/fonts/Sansation_Regular-webfont.eot');
  src: url('/fonts/Sansation_Regular-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/Sansation_Regular-webfont.woff') format("woff"), url('/fonts/Sansation_Regular-webfont.ttf') format("truetype"), url('/fonts/Sansation_Regular-webfont.svg#SansationRegular') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SansationLight';
  src: url('/fonts/Sansation_Light-webfont.eot');
  src: url('/fonts/Sansation_Light-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/Sansation_Light-webfont.woff') format("woff"), url('/fonts/Sansation_Light-webfont.ttf') format("truetype"), url('/fonts/Sansation_Light-webfont.svg#SansationLight') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SansationBold';
  src: url('/fonts/Sansation_Bold-webfont.eot');
  src: url('/fonts/Sansation_Bold-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/Sansation_Bold-webfont.woff') format("woff"), url('/fonts/Sansation_Bold-webfont.ttf') format("truetype"), url('/fonts/Sansation_Bold-webfont.svg#SansationBold') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SansationLightLightItalic';
  src: url('/fonts/Sansation_Light_Italic-webfont.eot');
  src: url('/fonts/Sansation_Light_Italic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/Sansation_Light_Italic-webfont.woff') format("woff"), url('/fonts/Sansation_Light_Italic-webfont.ttf') format("truetype"), url('/fonts/Sansation_Light_Italic-webfont.svg#SansationLightLightItalic') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SansationItalic';
  src: url('/fonts/Sansation_Italic-webfont.eot');
  src: url('/fonts/Sansation_Italic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/Sansation_Italic-webfont.woff') format("woff"), url('/fonts/Sansation_Italic-webfont.ttf') format("truetype"), url('/fonts/Sansation_Italic-webfont.svg#SansationItalic') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SansationBoldItalic';
  src: url('/fonts/Sansation_Bold_Italic-webfont.eot');
  src: url('/fonts/Sansation_Bold_Italic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/Sansation_Bold_Italic-webfont.woff') format("woff"), url('/fonts/Sansation_Bold_Italic-webfont.ttf') format("truetype"), url('/fonts/Sansation_Bold_Italic-webfont.svg#SansationBoldItalic') format("svg");
  font-weight: normal;
  font-style: normal; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent;
  text-decoration: none;
  border-bottom: 1px dotted; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: "SansationRegular", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .no-fontface body {
    font-size: 1.05em; }

::-moz-selection {
  background: #FF0000;
  text-shadow: none; }

::selection {
  background: #FF0000;
  text-shadow: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 1200px;
  margin: auto; }

header[role="banner"], footer[role="contentinfo"] {
  width: 100%;
  display: block; }

nav[role="navigation"] {
  width: 25%;
  float: left; }

.main-content {
  width: 70%;
  float: right; }

footer[role="contentinfo"] {
  clear: both; }

.chapter-summary a {
  display: block;
  padding: .5em;
  color: #000;
  opacity: .7;
  border: none; }
  .chapter-summary a:hover {
    opacity: 1; }
  .chapter-summary a:visited {
    opacity: .9; }
  .chapter-summary a b {
    display: block; }
  .chapter-summary a span {
    display: block;
    font-size: .8em; }

.testimonial {
  background-color: #eee;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 1em 2em; }
  .testimonial > img {
    display: inline-block;
    width: 17%; }
  .testimonial blockquote {
    margin: 0 0 0 3%;
    padding: 0 .5em;
    width: 76%;
    font-family: Constantia, "Lucida Bright", "Lucidabright", "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 2.4em;
    font-style: italic;
    display: inline-block;
    vertical-align: top; }
    .testimonial blockquote footer {
      font-size: .6em;
      border-top: 2px dotted #ddd;
      margin: 20px 0 0 0;
      padding: 10px 0 0 0; }
  .testimonial blockquote.small {
    font-size: .9em; }

/*# sourceMappingURL=styles.css.map */
