/* adding all variables here */
$color1: #FF0000; // red
$color2: #FFBF00; // orange
$color3: #FFFF00; // yellow
$color4: #7FFF00; // green
$color5: #007FFF; // light blue
$color6: #00FFFF; // cyan
$color7: #0000FF; // blue
$color8: #7F00FF; // purple
$color9: #FF00FF; // magenta
$color10: #000; // black
$color11: #FFF; // white

$blockquote: Constantia, "Lucida Bright", "Lucidabright", "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;